<body background="background.jpg" bgproperties="fixed">Background</body>

<br>
<br>
<br>
<font size=4>
    <font color=Grey>
        <font face="Aharoni">
            <center>
                <b>
                    <h2>Login</h2>
                    <b/>
            </center>
        </font>
    </font>
</font>

<br>
<br>
<br>
<center>
    <form method="post">
        {% csrf_token %}
        <br>
        <br> {{ form.as_p }}
        <br>
        <br>
        <button type="submit">Login</button>
    </form>
</center>


